-- Check if patients table exists
SELECT tablename FROM pg_tables WHERE schemaname = 'public' AND tablename = 'patients';

-- If patients exists, check its columns
SELECT column_name, data_type, is_nullable FROM information_schema.columns WHERE table_name = 'patients' AND table_schema = 'public' ORDER BY ordinal_position;
