-- Check if staff_schedules table exists and create if needed
SELECT tablename FROM pg_tables WHERE schemaname = 'public' AND tablename = 'staff_schedules';

-- Create staff_schedules table if it doesn't exist
create table if not exists public.staff_schedules (
  id uuid primary key default gen_random_uuid(),
  staff_id uuid not null references public.profiles(id) on delete cascade,
  schedule_date date not null,
  start_time time not null,
  end_time time not null,
  is_available boolean not null default true,
  notes text,
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

-- Create indexes
create index if not exists staff_schedules_staff_id_idx on public.staff_schedules(staff_id);
create index if not exists staff_schedules_date_idx on public.staff_schedules(schedule_date);
create index if not exists staff_schedules_staff_date_idx on public.staff_schedules(staff_id, schedule_date);
