-- Create medical_records table
create table if not exists public.medical_records (
  id uuid primary key default gen_random_uuid(),
  patient_id uuid not null references public.patients(id) on delete cascade,
  diagnosed_diseases text,
  allergies text,
  immunization_history text,
  last_updated_at timestamptz not null default now(),
  last_updated_by uuid references public.profiles(id)
);

-- Create clinic_visits table
create table if not exists public.clinic_visits (
  id uuid primary key default gen_random_uuid(),
  patient_id uuid not null references public.patients(id) on delete cascade,
  visit_date date not null,
  complaint text not null,
  assessment text,
  treatment text,
  disposition text not null check (disposition in ('returned_to_class', 'sent_home', 'referred', 'other')),
  referred_to text,
  notes text,
  created_by uuid references public.profiles(id),
  created_at timestamptz not null default now()
);
