-- Create patients table first if it doesn't exist
create table if not exists public.patients (
  id uuid primary key default gen_random_uuid(),
  student_id varchar(7) not null unique,
  patient_type text not null check (patient_type in ('student', 'personnel')),
  first_name text not null,
  middle_name text,
  last_name text not null,
  age integer,
  grade_level text,
  section text,
  education_level text check (education_level in ('basic', 'shs', 'college', 'n/a')),
  program text,
  year_level text,
  date_of_birth date,
  sex text check (sex in ('M', 'F')),
  contact_number varchar(11),
  guardian_name text,
  guardian_contact varchar(11),
  guardian_email text,
  house_unit text,
  street text,
  subdivision text,
  barangay text,
  city text,
  zip_code varchar(4),
  province text,
  enrollment_status text default 'active' check (enrollment_status in ('active', 'inactive')),
  created_at timestamptz not null default now()
);
