-- Fix student_accident_reports table
DROP TABLE IF EXISTS public.student_accident_reports CASCADE;

create table if not exists public.student_accident_reports (
  id uuid primary key default gen_random_uuid(),
  patient_id uuid not null references public.patients(id) on delete cascade,
  accident_date date not null,
  time_of_accident time,
  place_of_accident text,
  description text not null,
  how_accident_occurred text,
  immediate_cause text,
  type_of_injury text,
  body_parts_affected text,
  severity text check (severity in ('minor', 'moderate', 'severe')),
  witness_name text,
  witness_address text,
  action_by_nurse boolean default false,
  sent_home boolean default false,
  referred_to_physician boolean default false,
  referred_to_hospital boolean default false,
  other_action text,
  parent_notified boolean default false,
  parent_notification_date date,
  follow_up_notes text,
  notes text,
  reported_by uuid references public.profiles(id),
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

create index if not exists student_accident_reports_patient_id_idx on public.student_accident_reports(patient_id);
