-- Add some sample schedule data for testing
-- Insert sample schedules for clinic staff
-- Replace the profile IDs with actual staff IDs from your profiles table

-- First, get some profile IDs:
-- SELECT id, full_name FROM public.profiles;

-- Then insert sample data (replace 'your-staff-id-here' with actual IDs):
-- INSERT INTO public.staff_schedules (staff_id, schedule_date, start_time, end_time, is_available, notes)
-- VALUES
--   ('your-staff-id-here', '2026-03-15', '08:00', '17:00', true, 'Regular clinic hours'),
--   ('your-staff-id-here', '2026-03-16', '09:00', '16:00', true, 'Afternoon shift');
