-- Test query to check if schedules exist
SELECT COUNT(*) as total_schedules FROM public.staff_schedules;

-- Check recent schedules with staff info
SELECT s.id, s.schedule_date, s.start_time, s.end_time, s.is_available, p.full_name
FROM public.staff_schedules s
JOIN public.profiles p ON s.staff_id = p.id
ORDER BY s.schedule_date DESC, s.start_time
LIMIT 10;
