-- Verify tables were created correctly
SELECT tablename FROM pg_tables WHERE schemaname = 'public' ORDER BY tablename;

-- Check medical_records columns
SELECT column_name, data_type, is_nullable FROM information_schema.columns WHERE table_name = 'medical_records' AND table_schema = 'public' ORDER BY ordinal_position;

-- Check clinic_visits columns
SELECT column_name, data_type, is_nullable FROM information_schema.columns WHERE table_name = 'clinic_visits' AND table_schema = 'public' ORDER BY ordinal_position;
